# LIBRERIAS

In [2]:
import pandas as pd

from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from gensim.parsing.preprocessing import remove_stopwords

# CARGA DE DATOS DE ENTRENAMIENTO

In [3]:
filename = "dataset/train.csv"
data = pd.read_csv(filename, na_filter=True)

In [4]:
data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [3]:
data.head()
data.shape
data.columns.values
data.describe()
pd.isnull(data["text"]).values.ravel().sum()

39

# LIMPIEZA DE DATOS

In [4]:
# QUITAR FILAS CON ESPACIOS VACIOS
data = data.dropna(axis=0, how = "any")

# QUITAR COLUMNAS ID, TITULO y AUTOR
data = data.drop(['id','title','author'], axis=1)

# TRANSFORMAR EL TEXTO A MAYÚSCULAS
data['text'] = data['text'].str.lower()

In [5]:
data.head()

                                                text  label
0  house dem aide: we didn’t even see comey’s let...      1
1  ever get the feeling your life circles the rou...      0
2  why the truth might get you fired october 29, ...      1
3  videos 15 civilians killed in single us airstr...      1
4  print \nan iranian woman has been sentenced to...      1

# QUITAR STOP WORDS

In [6]:
text_wsw = []
for i in data['text']:
    text_wsw.append(remove_stopwords(i))
print(text_wsw[1])

feeling life circles roundabout heads straight line intended destination? [hillary clinton remains big woman campus leafy, liberal wellesley, massachusetts. votes likely inauguration dress remainder days way miss havisham forever wore wedding dress. speaking great expectations, hillary rodham overflowed 48 years ago addressed wellesley graduating class. president college informed gathered 1969 students needed “no debate far ascertain spokesman be” (kind like democratic primaries 2016 minus terms unknown seven sisters school). “i glad miss adams clear speaking today — 400 us,” miss rodham told classmates. appointing edger bergen charlie mccarthys mortimer snerds attendance, bespectacled granny glasses (awarding matronly wisdom — john lennon wisdom) took issue previous speaker. despite win election seat u. s. senate reconstruction, edward brooke came criticism calling “empathy” goals protestors criticized tactics. clinton senior thesis saul alinsky lamented “black power demagogues” “elitist arrogance repressive intolerance” new left, similar words coming republican necessitated brief rebuttal. “trust,” rodham ironically observed 1969, “this word asked class rehearsal wanted them, came said ‘talk trust, talk lack trust way feel others. talk trust bust.’ it? feeling permeates generation understood distrusted?” “trust bust” certainly busted clinton’s 2016 plans. certainly understand people distrusted her. whitewater, travelgate, vast conspiracy, benghazi, missing emails, clinton distrusted voice friday. load compromising road broadening political horizons. distrust american people — trump edged 48 percent 38 percent question immediately prior november’s election — stood major reason closing horizons. clinton described vanquisher supporters embracing “lie,” “con,” “alternative facts,” “a assault truth reason. ” failed explain american people chose lies truth. “as history majors today know well, people power invent facts attack question them, mark beginning end free society,” offered. “that hyperbole. ” like people emerge 1960s, hillary clinton embarked long, strange trip. high school goldwater girl wellesley college republican president democratic politician, clinton drank times place gave degree. significantly, went idealist cynic, comparison wellesley commencement addresses show. way when, lamented “for long leaders viewed politics art possible, challenge practice politics art making appears impossible possible. ” now, big woman campus odd woman white house, wonders current station possible. “why aren’t 50 points ahead?” asked september. asks isn’t president. woman famously dubbed “congenital liar” safire concludes lies — theirs, mind you, hers. getting stood election day, like finding jilted bride wedding day, inspires dangerous delusions.

In [7]:
data['text'] = text_wsw
data.head()

                                                text  label
0  house dem aide: didn’t comey’s letter jason ch...      1
1  feeling life circles roundabout heads straight...      0
2  truth fired october 29, 2016 tension intellige...      1
3  videos 15 civilians killed single airstrike id...      1
4  print iranian woman sentenced years prison ira...      1

# REMOVER SÍMBOLOS

In [8]:
data['text'] = data['text'].str.replace(r'[^\w\s]', '')
data.head()

                                                text  label
0  house dem aide didnt comeys letter jason chaff...      1
1  feeling life circles roundabout heads straight...      0
2  truth fired october 29 2016 tension intelligen...      1
3  videos 15 civilians killed single airstrike id...      1
4  print iranian woman sentenced years prison ira...      1

# ELIMINAR VACIOS

In [9]:
print(len(data['text']))
data = data[data.text != '']
print(len(data['text']))

18285
18211

# GUARDAR DATASET LIMPIO

In [10]:
data.to_excel('train_clean.xlsx')